html {
  height: 100%
}
body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #f04532;
  font-size: 14px;
  line-height: 20px;
  height: 100vh;
}

h1 {
  overflow: visible;
  margin-top: 20px;
  margin-bottom: 10px;
  direction: ltr;
  color: #f04532;
  font-size: 100px;
  line-height: 107%;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.body {
  height: 100vh;
  color: #f04532;
}

.div-block {
  margin-top: 60px;
}

.section {
  width: 100%;
  margin-left: 0px;
  padding-left: 8%;
  float: right;
  background-color: #fff;
}

.section.section-abouttext {
  width: 100%;
}

.h1-name {
  position: relative;
  width: 80%;
  font-family: degular-display, sans-serif;
  color: #f04532;
  font-size: 700%;
  line-height: 100%;
  letter-spacing: 0.08em;
}

.h1-links {
  position: static;
  margin-top: 0px;
  font-family: degular-display, sans-serif;
  font-size: 100px;
  text-decoration: none;
  text-transform: uppercase;
}

.h1-links.h1-name:hover {
  text-decoration: underline;
}

.link-block {
  position: relative;
  float: none;
  clear: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.p-about {
  max-width: 1000px;
  margin-bottom: 10%;
  margin-left: 40%;
  padding-right: 8%;
  padding-bottom: 10%;
  font-family: degular-display, sans-serif;
  font-size: 170%;
  line-height: 1.3em;
  letter-spacing: 0.06em;
}

.p-impressum {
  max-width: 1000px;
  margin-bottom: 10%;
  margin-left: 40%;
  padding-right: 8%;
  padding-bottom: 10%;
  font-family: degular-display, sans-serif;
  font-size: 170%;
  line-height: 1.3em;
  letter-spacing: 0.06em;
}

.section-footer {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 50px;
  padding-left: 8%;
  font-family: degular-display, sans-serif;
  text-decoration: none;
}

.div-footerlinks {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-left: 0%;
  padding-bottom: 30px;
  padding-left: 8%;
}

.footerlink {
  padding-right: 40px;
  color: #f04532;
  font-weight: 300;
  letter-spacing: 0.03em;
}

.p-inlinelink {
  color: #f04532;
  font-weight: 300;
  text-decoration: none;
}

.p-inlinelink:hover {
  text-decoration: underline;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.heading {
  font-family: degular-display, sans-serif;
}

.div-block-4 {
  font-family: degular-display, sans-serif;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body-2 {
  font-family: degular-display, sans-serif;
}

.body-3 {
  height: 100vh;
}

@media screen and (max-width: 991px) {
  .section {
    padding-left: 8%;
  }

  .h1-name {
    width: 100%;
    font-size: 600%;
  }

  .p-about {
    margin-top: 20px;
    margin-left: 0%;
    font-size: 170%;
  }

  .columns {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .h1-name {
    width: 100%;
    font-size: 500%;
  }

  .p-about {
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 479px) {
  .body {
    max-height: 1000px;
    max-width: 1000px;
  }

  .div-block {
    margin-top: 10px;
  }

  .h1-name {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 300%;
    font-weight: 800;
  }

  .p-about {
    position: static;
    padding-top: 20px;
    padding-right: 1%;
    font-size: 100%;
  }

  .section-footer {
    position: relative;
    overflow: auto;
    font-size: 10px;
  }

  .div-footerlinks {
    position: static;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-left: 0%;
    padding-top: 20px;
    padding-left: 0%;
    float: none;
    clear: left;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .column {
    height: 10px;
  }
}

